*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cyan: hsl(179,62%,43%);
    --cyan--light: hsla(179,62%,43%,0.6);
    --bright-yellow: hsl(71,73%,54%);
    --light-gray: hsl(204,43%,93%);
    --grayish-blue: hsl(218,22%,67%);
    --white: hsla(0,100%,100%,0.8);
}

body{
    font-size: 16px;
    /* font-family:' ' */;
    width:70%;
    margin: 50px auto;
    background-color: var(--light-gray);
}
/* flex items / grid items lol */
.flex-container{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-auto-rows: minmax(200px,auto);
}
.flex-box{
    padding: 30px;
}
.flex-box:nth-child(1){
    grid-column: 1/3;
    line-height: 1.8em;
    background-color: var(--white);
    border-radius: 10px 10px 0px 0px;
}
.flex-box:nth-child(1) h1{
    margin-bottom: 30px;
    color: var(--cyan);
}
.flex-box:nth-child(1) h3{
    margin-bottom: 15px;
    color: var(--bright-yellow);
}
.flex-box:nth-child(1) p{
    color: var(--grayish-blue);
}

.flex-box:nth-child(2){
   background-color:  var(--cyan);
   border-radius: 0px 0px 0px 10px;
   line-height: 1.8em;
   color: var(--white);
}
.flex-box:nth-child(2) h1{
    margin-bottom: 20px;
}
.flex-box:nth-child(2) h3{
    margin-bottom: 15px;
}
.flex-box:nth-child(2) form input{
  height:45px;
  display: inline-block;
  width: 90%;
  margin-top: 20px;
  color: var(--white);
  background-color: var(--bright-yellow);
  overflow: hidden;
  text-align: center;
  padding:5px;
  font-size:20px;
  border-radius: 10px 10px 10px 10px;
  transition: all 2s;
  box-shadow: 2px 3px 8px var(--grayish-blue),
             inset 2px 3px 8px var(--grayish-blue),
              -3px -4px 8px var(--grayish-blue);
}
.flex-box:nth-child(2) form input:hover{
    width:50%;
    margin-left: 50px;
    margin-right: 50px;
}

.flex-box:nth-child(3){
    background-color: var(--cyan--light);
    border-radius: 0px 0px 10px 0px;
    color:var(--white);
}
.flex-box:nth-child(3) h1{
    margin-bottom: 20px;
}

footer{
    margin-top: 40px;
    margin-bottom: 30px;
}

/* media queries*/

@media (max-width:375px) {
  body{
    width: 80%;
    margin: 20px auto;
  }

  .flex-container{
    display: flex;
    flex-direction: column;
  }
  
  .flex-box:nth-child(1){
    animation-name: animate-1;
    position: relative;
    animation-duration: 2s;
    animation-timing-function: ease-in-out;
  }
  @keyframes animate-1 {
    0%{left: -400px;}
    100%{left: 0px}
  }

  .flex-box:nth-child(2){
    border-radius: 0 0 0 0;
    animation-name: animate-2;
    position: relative;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-timing-function: ease;
  }
  @keyframes animate-2 {
    0%{left: -400px;}
    100%{left: 0px}
  }

  .flex-box:nth-child(3){
    border-radius:  0 0 10px 10px;
    animation-name: animate-3;
    position: relative;
    animation-delay: 4s;
    animation-duration: 2s;
    animation-timing-function: ease;
  }
  @keyframes animate-3 {
    0%{left: -400px;}
    100%{left: 0px}
  }
}
